@media only screen and (max-width: 600px){
		
	body{
		background-image: url(../../img/Tiger_Background.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	};

	.Quote {
		width: 222px;
		height: 135px;
		object-fit: contain;
		margin-left: 13px;
		margin-top: 110px;
	}
	
	iframe {
		width: 372px;
		height:	241px;
		margin-top: 206px;
		margin-bottom: 59px;
		display: block;
		object-fit: contain;
		margin-left: 1px;
		margin-right: 2px;
}


}