@media only screen and (min-width: 1024px){
	
	body {
		height: 100%;
		width: 100%;
		background-image: url(../../img/Tiger_Background.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		font-size: 2.666667%; /* 16px/600 */
	}
	
	.Quote {
		width: 303px;
		height: 173px;
		object-fit: contain;
		margin-left: 173px;
		margin-top: 67px;
	}
	
	iframe {
		width: 372px; 
		height:241px;
		margin-top: 144px;
        margin-left: 54px;
        margin-right: 598px;
		margin-bottom: 59px;
		display: block;
	}
	
}