@media only screen and (min-width: 600px){
	
	body {
		height: 100%;
		width: 100%;
		background-image: url(../../img/Tiger_Background.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		font-size: 2.666667%; /* 16px/600 */
	}
	
	.Quote {
		width: 302px;
		height: 173px;
		object-fit: contain;
		margin-left: 112px;
		margin-top: 123px;
	}
	
	iframe {
		width: 372px; 
		height:241px;
		margin-top: 335px;
        margin-left: 198px;
        margin-right: 198px;
		margin-bottom: 59px;
		display: block;
	}
	
}