@media only screen and (min-width: 1280px){
    .Netflix-Logo {
		width: 61px; /* 61px/1280px */
		height: 61px; /* 61px/1280px */
		object-fit: contain;
		margin-left: 1.796875%; /* 23px/1280px */
		margin-top: 1.796875%; /* 23px/1280px */
		display: inline-block;
		margin-right: 11.796875%; /* 151px/1280px */
	}

	a:link, a:visited{
		text-decoration: none;
		color: white;
	}
	
	.nav-info {
		font-family: 'SFProDisplay-Thin';
		font-size: 30px; /* 30px/1280px */
		font-weight: 100;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.47;
		letter-spacing: 0.035156%; /* 0.45px/1280px */
		text-align: left;
		color: #ffffff;
		display: inline-block;
		margin-right: 46px;
	}

	#Home{
		opacity: 0.75;
		text-decoration: underline;
	}

	#Episodes{
		opacity: 0.35
	}

	 #Quotes{
		opacity: 0.35
	 }
}


