@font-face {
	font-family: SFProDisplay-Thin;
	src: url("../SF-Fonts/SF-Pro-Display-Thin.otf") format("opentype");
}

body {
	background-image: url(../img/Tiger_Background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.content-top {
	display: inline-block;
}

.Netflix-Logo {
	width: 61px;
	height: 61px;
	object-fit: contain;
	margin-left: 23px;
	margin-top: 23px;
	display: inline-block;
	margin-right: 151px;
}

.nav-info {
	font-family: 'SFProDisplay-Thin';
	font-size: 30px;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: 0.45px;
	text-align: left;
	color: #ffffff;
	display: inline-block;
	margin-right: 46px;
}

.Home {
	opacity: 0.75;
}

.Episodes {
	opacity: 0.35;
}

.Quotes {
	opacity: 0.35;
}

.Quote {
	width: 302px;
	height: 173px;
	object-fit: contain;
	margin-left: 235px;
	margin-top: 48px;
}

iframe {
	margin-top: 168px;
	margin-left: 54px;
	margin-bottom: 59px;
}





