@font-face {
	font-family: SFProDisplay-Thin;
	src: url("../SF-Fonts/SF-Pro-Display-Thin.otf") format("opentype");
}

html {
	min-width: 1080px;
}

body {
	height: 100%;
	width: 100%;
	background-image: url(../img/Tiger_Background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.Netflix-Logo {
	width: 61px;
	height: 61px;
	object-fit: contain;
	margin-left: 23px;
	margin-top: 23px;
	display: inline-block;
	margin-right: 151px;
}

.nav-info {
	font-family: 'SFProDisplay-Thin';
	font-size: 1.875em;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: 0.45px;
	text-align: left;
	color: #ffffff;
	display: inline-block;
	margin-right: 46px;
}

.Quote {
	width: 302px;
	height: 173px;
	object-fit: contain;
	margin-left: 235px;
	margin-top: 48px;
}

iframe {
	margin-top: 168px;
	margin-left: 54px;
	margin-bottom: 59px;
	display: block;
}





