@media only screen and (max-width: 600px){
		
	@font-face {
		font-family: SFProDisplay-Thin;
		src: url("../SF-Fonts/SF-Pro-Display-Thin.otf") format("opentype");
	}

    body{
		background-image: url(../img/Tiger_Background.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	};

    .Netflix-Logo {
		width: 31px;
		height: 31px;
		object-fit: contain;
		margin-left: 23px;
		margin-top: 21px;
		display: inline-block;
		margin-right: 27px;
	}
	
	.nav-info {
		font-family: 'SFProDisplay-Thin';
		font-size:  18px;
		font-weight: 100;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.47;
		letter-spacing: 0.27px;
		text-align: left;
		color: #ffffff;
		display: inline-block;
		margin-right: 44px;
		margin-top: 28px;
     }
    
    .Quote {
		width: 222px;
		height: 135px;
		object-fit: contain;
		margin-left: 13px;
		margin-top: 110px;
	}
	
	iframe {
		width: 372px;
		height:	241px;
		margin-top: 206px;
		margin-bottom: 59px;
		display: block;
		object-fit: contain;
		margin-left: 1px;
		margin-right: 2px;
}


}